//Colors
$main: #999;
$body-scale: .2;
//Content CSS

html.wayh-init {
  position: fixed;
  background: white;
  $d: .2s;
  height: 100%;
  width: 100%;
  overflow: auto;


  // Image background, independent of html bg
  &:before {
    content: "";
    background: $main;
    background-size: cover;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    //z-index: 2;
    transition: opacity 2*$d ease;
  }

  body {
    z-index: 2;
    //z-index:1;
    overflow: hidden;
    transition: transform $d ease-in;
    transform: scale(1);
    height: 100%;
    outline: 20px solid #243965;
    transform-origin: 95% 10%;
    > * {
      overflow: hidden;

    }

  }
  &.dissociated {
    &:before{
      opacity: 1;
    }

    body {
      pointer-events: none;
      position: fixed;

      //width: 100px;
      //height: 400px;

      //height: 220%;
      width: 100%;
      border: 10px black;
      overflow: hidden;
      transform: scale($body-scale);
      box-shadow: 0 128px 126px -60px black;

      opacity: .7;
      > * {
        overflow: hidden !important;

      }
    }
  }
}



@keyframes dissociacionBg {
  0%   { opacity: 0; }
  100% {
    opacity: 1;
  }
}
