@import 'reset.css';
@import 'bg.css';
@import 'dissociate.scss';
// @import 'dissociate.css'; TODO: Not working yet, move all set css to that file, and than trigger add this callback
//http://stackoverflow.com/questions/6186454/is-there-a-callback-on-completion-of-a-css3-animation
//Colors
$main_bg: #424242;
$main_c: rgb(232, 232, 232);
$large-fs: 130px;

//Content CSS

#wayh {
  display: none;
}

html.wayh-init #wayh {


  font-family: sans-serif;
  display: block;
    font-size: 26px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    //height: 2em;
    padding: 0.7em 0.4em 0.5em;
    background: $main_bg;
    color: rgba(255,255,255,.3);
    text-align: center;
    transition: height .5s;
    z-index: 1;
  // Input placeholders color

    * {
      display: none;
    }
    .collapsed {
      height: 2.5em;

    }
  &::shadow {

    > * {
      transform: scale(.6);
      transform-origin: 10% 5%;
    }

    #wayh-form {

      font-size: $large-fs;
      display: block;
      margin: .5em 0 0 0;
      font-family: sans-serif;
      span,label, button, input, textarea {
        float: left;
        width: 100%;
        font-size: $large-fs / 1.5; //cannot use relative font-size - wanna know why? :D
        margin: 0;
        padding: 0;
        text-align: left;
        color: #e8e8e8;
        text-shadow: rgba(0, 0, 0, 0.57) 0px 48px 46px, rgb(23, 23, 23) 0px 0px 5px;
      }
      /*input {
        display: block;
        float: left;
        background: rgba(white,.73);
        border: 0;
        padding: .5em 1em;
        text-align: center;
        color: darken($main,40%);
        margin: 0 1em;
        font-size: 1em;
        &:focus {
          outline:0;
          background: rgba(white,.8);
        }
        &[type="text"] {
          width: 30em;
          font-size: 4em;
          background: none;
          border: 0;
        }
        &[type="number"] {
          position: relative;
          //right: -5em; // Default
          width: 5em;

        }

      }*/
      input, textarea, button {
        background: rgba(white,.73);
        border: 0;
        color: darken($main_c, 30%);
        text-shadow: none;
        //font-size: $large-fs;
        font-size: inherit;
        background: none;
        width: auto;
        border: 0;
        width: 100%;
        margin-top: .5em;
        &::-webkit-input-placeholder {
          color: initial;
          -webkit-text-fill-color: rgba($main_c, .2);
          letter-spacing: 0;
          font-family: sans-serif;
        }
        &:focus {
          outline:0;
          &::-webkit-input-placeholder {
            opacity: 0;
          }
        }
        &[type="text"] {
          //margin-top: 1em;
        }
        &[type="number"] {
          width:auto;

        }
      }
      button {
        width: auto;
        border: #2f2f2f solid .01em;
        padding: .1em .3em;
        margin: 1em -.3em;
        background: #565656;
        color: #2d2d2d;
        float: right;
        font-size:.8em;
      }

    }

  }

}



@keyframes dissociacionBg {
  0%   { opacity: 0; }
  100% {
    opacity: 1;
  }
}





