@import 'reset.css';
@import 'bg.css';
@import 'dissociate.scss';
// @import 'dissociate.css'; TODO: Not working yet, move all set css to that file, and than trigger add this callback
//http://stackoverflow.com/questions/6186454/is-there-a-callback-on-completion-of-a-css3-animation
//Colors
$main: #999;
//Content CSS


#wayh {
    // Input placeholders color
    ::-webkit-input-placeholder {
      color: darken($main,25%);
    }
    z-index: 99999999;
    font-size: 26px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    //height: 2em;
    padding: 0.7em 0.4em 0.5em;
    background: $main;
    color: rgba(255,255,255,.3);
    text-align: center;
    transition: height .5s;
    border-bottom: 3px solid darken($main, 10%);
    z-index: 1;
    * {
      display: none;
    }
    .collapsed {
      height: 2.5em;

    }
  &::shadow {
    #wyah-form {
      font-size: 16px;
      display: table;
      margin: 0 auto;
      input {
        display: block;
        float: left;
        background: rgba(white,.73);
        border: 0;
        padding: .5em 1em;
        text-align: center;
        color: darken($main,40%);
        margin: 0 1em;
        font-size: 1em;
        &:focus {
          outline:0;
          background: rgba(white,.8);
        }
        &[type="text"] {
          width: 30em;
        }
        &[type="number"] {
          position: relative;
          //right: -5em; // Default
          width: 5em;

        }

      }
      label {
        margin-left: 1em;
        position: relative;
        //right: -5em; // Default
        //line-height: 3em;
        vertical-align: bottom;

      }
    }

  }

}



@keyframes dissociacionBg {
  0%   { opacity: 0; }
  100% {
    opacity: 1;
  }
}





